.overview {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    background-color: color(3);

    .wraper {
        display: flex;
        position: relative;
        justify-content: flex-end;
        height: 100%;

        img {
            display: none;
        }
    }
}
