.overview {
    height: 522px;

    .wraper {
        position: absolute;
        width: 1003px;

        &::before {
            content: ' ';
            position: absolute;
            right: 653px;
            width: 500%;
            height: 100%;
            background-color: color(5);
        }

        .columngray {
            display: flex;
            position: relative;
            z-index: 1;
            align-items: center;
            justify-content: center;
            width: 350px;
            background: color(7);

            img {
                display: block;
                position: absolute;
                width: 350px;
                height: 100%;
            }
        }

        .columnmain {
            width: 653px;

            .contentmain {
                margin-top: 43px;
                margin-left: 48px;

                h1 {
                    margin-bottom: 43px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 30px;
                    font-weight: bold;
                    letter-spacing: -.025rem;
                }

                .row {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 30px;
                    margin-left: -1px;

                    .text-1 {
                        width: 95%;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 20px;
                        font-weight: lighter;
                        line-height: 30px;
                        text-decoration: underline color(5);
                    }

                    .text-2 {
                        width: 260px;
                        margin-right: 33px;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                        font-weight: lighter;
                        line-height: 20px;
                    }

                    .text-3 {
                        width: 299px;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                        font-weight: lighter;
                        line-height: 18px;
                    }

                    .text-4 {
                        width: 540px;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                        font-weight: lighter;
                        line-height: 20px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
