.overview {
    height: 602px;

    .wraper {
        width: 271px;

        .columnmain {

            .contentmain {
                margin-top: 41px;

                h1 {
                    margin-bottom: 20px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 24px;
                    font-weight: bold;
                    letter-spacing: -.025rem;
                    text-align: center;
                }

                .row {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 26px;

                    .text-1 {
                        width: 101%;
                        margin-top: 4px;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 18px;
                        font-weight: lighter;
                        line-height: 30px;
                        text-align: center;
                        text-decoration: underline color(5);
                    }

                    .text-2 {
                        width: 271px;
                        margin-top: -3px;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                        font-weight: lighter;
                        line-height: 20px;
                        text-align: center;
                    }

                    .text-3 {
                        width: 263px;
                        margin-top: 14px;
                        margin-left: 4px;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                        font-weight: lighter;
                        line-height: 18px;
                        text-align: center;
                    }

                    .text-4 {
                        width: 269px;
                        margin-top: -7px;
                        margin-left: 1px;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                        font-weight: lighter;
                        line-height: 20px;
                        text-align: center;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
