.overview {
    height: 471px;

    .wraper {
        position: absolute;
        width: 693px;

        .columnmain {
            width: 643.5px;

            .contentmain {
                margin-top: 43px;

                h1 {
                    margin-bottom: 43px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 30px;
                    font-weight: bold;
                    letter-spacing: -.025rem;
                }

                .row {
                    display: flex;
                    flex-direction: row;
                    margin-top: 30px;
                    margin-left: -1px;

                    .text-1 {
                        width: 95%;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 20px;
                        font-weight: lighter;
                        line-height: 30px;
                    }

                    .text-2 {
                        width: 260px;
                        margin-right: 35px;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                        font-weight: lighter;
                        line-height: 20px;
                    }

                    .text-3 {
                        width: 299px;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                        font-weight: lighter;
                        line-height: 18px;
                    }

                    .text-4 {
                        width: 595px;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                        font-weight: lighter;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}
