@import 'palette';

.header {
    width: 100%;
    height: 484px;
    background-color: color(1);

    .row {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 422px;
        overflow: hidden;

        .headerimg {
            position: absolute;
        }

        .wrapper {
            display: flex;
            flex-direction: row;
        }

        .column-1 {
            display: flex;
            position: relative;
            flex-direction: column;
            height: 100%;
            opacity: .9;

            .contentlist {
                display: flex;
                position: relative;
                flex-direction: column;

                span {
                    width: 100px;
                    margin-top: 28px;
                    margin-left: 1px;
                    padding: 5px 8px 5px 9px;
                    background-color: color(2);
                    color: color(3);
                    font-family: 'Montserrat', sans-serif;
                    font-size: 10px;
                    text-transform: uppercase;
                }

                .mediumletters {
                    margin-top: 7px;
                    margin-left: 4px;
                    color: color(3);
                    font-family: 'Montserrat', sans-serif;
                    font-size: 22px;
                    font-weight: bold;
                    letter-spacing: -.05rem;
                }

                .bigletters {
                    margin-left: 4px;
                    color: color(3);
                    font-family: 'Montserrat', sans-serif;
                    font-size: 26px;
                    font-weight: bold;
                    letter-spacing: -.08rem;
                }

                .special {
                    margin-top: 2px;
                    margin-left: 3px;
                    color: color(3);
                    font-family: 'Montserrat', sans-serif;
                    font-size: 18px;
                    text-decoration: none;
                    text-transform: uppercase;

                    &::before {
                        content: url(/images/header/shape12.svg);
                        margin-right: 2px;
                        vertical-align: -4px;
                    }
                }
            }

            .buttonlist {
                position: absolute;
                right: 0;
                bottom: 0;
                justify-content: flex-end;
                height: 43px;

                .cl {
                    position: absolute;
                    padding-top: 10px;
                    border: 1px solid color(3);

                    &.eye {
                        right: 86px;
                        width: 45px;
                        height: 44px;
                        padding-top: 13px;

                        &::before {
                            content: url(/images/header/b1.svg);
                            padding-left: 9px;
                        }
                    }

                    &.pic {
                        right: 42px;
                        width: 45px;
                        height: 44px;

                        &::before {
                            content: url(/images/header/b2.svg);
                            padding-left: 10px;
                        }
                    }

                    &.loc {
                        right: 0;
                        width: 43px;
                        height: 44px;
                        border-right: none;

                        &::before {
                            content: url(/images/header/b3.svg);
                            padding-left: 12px;
                        }
                    }

                    &:hover {

                        $map: ('eye': 'b1h.png', 'pic': 'b2h.png', 'loc': 'b3h.png');

                        @each $class, $path in $map {

                            &.#{$class} {

                                &::before {
                                    content: url(/images/header/#{$path});
                                }
                            }
                        }
                    }
                }
            }
        }

        .borger {
            height: 58px;
            padding: 14px 17px;
            background-color: color(2);

            &::before {
                content: url(/images/header/iconcopy8.svg);
            }
        }
    }

    .row-1 {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: center;
        height: 62px;
        overflow: hidden;
        background-color: color(5);

        .wrapper {
            display: flex;
            justify-content: flex-end;

            .rblock-1 {
                display: flex;
                z-index: 1;
                flex-direction: row;
                height: 100%;
            }
        }

        .wrapper::before {
            content: ' ';
            position: absolute;
            height: 100%;
            background-color: color(2);
        }
    }
}
