.one {

    .row {

        .column-1 {
            width: 350px;
            background-color: #ED1C24;

            .contentlist {
                padding-left: 33px;

                h1 {
                    color: #FFFFFF;
                    font-family: 'Montserrat';
                    font-size: 18px;
                    font-weight: bold;
                    letter-spacing: -.02rem;
                    line-height: 80px;
                    text-transform: uppercase;

                    &::before {
                        content: 'e';
                        width: 36px;
                        height: 36px;
                        margin-right: 8px;
                        padding-right: 9px;
                        padding-left: 9px;
                        border: #FFFFFF 3px solid;
                        border-radius: 1px;
                        color: #FFFFFF;
                        font-size: 32px;
                        vertical-align: -14px;
                    }
                }

                .borders {
                    width: 87%;
                    margin-top: 14px;
                    padding: 17px 2px 20px;
                    border-top: 1px solid #707070;
                    border-bottom: 1px solid #707070;

                    .middletext {
                        width: 77%;
                        color: #FFFFFF;
                        font-family: 'Open Sans';
                        font-size: 16px;
                        font-weight: lighter;
                        line-height: 20px;
                    }
                }
            }
        }
    }

    .wrapper {
        position: absolute;
        width: 1003px;
        height: 100%;
    }

    .row-1 {

        .wrapper {

            &::before {
                left: 350px;
                width: 2000px;
            }

            .rblock-1 {
                margin-right: 2px;

                a {
                    width: 57px;
                    height: 100%;
                    border-left: 1px solid #707070;

                    &.left::before {
                        content: url(../../../images/Left.svg);
                        position: absolute;
                        width: 14px;
                        height: 23px;
                        margin: 20px 22px;
                        color: #FFFFFF;
                    }

                    &.right::before {
                        content: url(../../../images/Right.svg);
                        position: absolute;
                        width: 14px;
                        height: 23px;
                        margin: 20px 22px;
                        color: #FFFFFF;
                    }

                    &:hover {

                        &.left::before {
                            content: url(../../../images/Lefth.svg);
                        }

                        &.right::before {
                            content: url(../../../images/Righth.svg);
                        }
                    }

                    &:last-child {
                        width: 56px;
                        border-right: 1px solid #707070;
                    }
                }
            }
        }
    }
}

.two {

    .wraper {
        position: absolute;
        width: 1003px;

        &::before {
            content: ' ';
            position: absolute;
            right: 653px;
            width: 2000px;
            height: 100%;
            background-color: #DBDBDB;
        }

        .columngray {
            z-index: 1;
            width: 350px;
            background: #898989;
        }

        .columnmain {
            width: 653px;

            .contentmain {
                margin-top: 43px;
                margin-left: 48px;

                h1 {
                    margin-bottom: 43px;
                    font-family: 'Montserrat';
                    font-size: 30px;
                    font-weight: bold;
                    letter-spacing: -.025rem;
                }

                .row {
                    display: flex;
                    flex-direction: row;
                    margin-top: 30px;
                    margin-left: -1px;

                    .text-1 {
                        width: 95%;
                        font-family: 'Open Sans';
                        font-size: 20px;
                        font-weight: lighter;
                        line-height: 30px;
                    }

                    .text-2 {
                        width: 260px;
                        margin-right: 33px;
                        font-family: 'Open Sans';
                        font-size: 14px;
                        font-weight: lighter;
                        line-height: 20px;
                    }

                    .text-3 {
                        width: 299px;
                        font-family: 'Open Sans';
                        font-size: 14px;
                        font-weight: lighter;
                        line-height: 18px;
                    }

                    .text-4 {
                        width: 540px;
                        font-family: 'Open Sans';
                        font-size: 14px;
                        font-weight: lighter;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}