.one {

    .row {

        .column-1 {
            width: 344px;
            background-color: #FF4242;

            .contentlist {
                padding-left: 33px;

                h1 {
                    color: #FFFFFF;
                    font-family: 'Montserrat';
                    font-size: 18px;
                    font-weight: bold;
                    letter-spacing: -.02rem;
                    line-height: 80px;
                    text-transform: uppercase;

                    &::before {
                        content: 'e';
                        width: 36px;
                        height: 36px;
                        margin-right: 8px;
                        padding-right: 9px;
                        padding-left: 9px;
                        border: #FFFFFF 3px solid;
                        border-radius: 1px;
                        color: #FFFFFF;
                        font-size: 32px;
                        vertical-align: -14px;
                    }
                }

                .borders {
                    width: 89%;
                    margin-top: 14px;
                    padding: 17px 3px 20px;
                    border-top: 1px solid #707070;
                    border-bottom: 1px solid #707070;

                    .middletext {
                        width: 77%;
                        color: #FFFFFF;
                        font-family: 'Open Sans';
                        font-size: 16px;
                        font-weight: lighter;
                        line-height: 20px;
                    }
                }
            }

            .buttonlist {

                .cl {
                    margin-top: -2px;

                    &.eye {
                        right: 85px;
                        padding-top: 13px;
                    }

                    &.pic {
                        right: 41px;
                        padding-top: 11px;
                    }

                    &.loc {
                        right: 0;
                        padding: 11px 14px 0 11px;
                    }
                }
            }
        }
    }

    .wrapper {
        position: absolute;
        width: 693px;
        height: 100%;
    }

    .row-1 {

        .wrapper::before {
            left: 0;
            width: 2000px;
        }

        .rblock-1 {
            margin-right: 2px;

            a {
                width: 57px;
                height: 100%;
                border-left: 1px solid #707070;

                &.left::before {
                    content: url(../../../images/Left.svg);
                    position: absolute;
                    width: 14px;
                    height: 23px;
                    margin: 20px 22px;
                    color: #FFFFFF;
                }

                &.right::before {
                    content: url(../../../images/Right.svg);
                    position: absolute;
                    width: 14px;
                    height: 23px;
                    margin: 20px 22px;
                    color: #FFFFFF;
                }

                &:hover {

                    &.left::before {
                        content: url(../../../images/Lefth.svg);
                    }

                    &.right::before {
                        content: url(../../../images/Righth.svg);
                    }
                }

                &:last-child {
                    width: 56px;
                    border-right: 1px solid #707070;
                }
            }
        }
    }
}
